* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal {
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    border-bottom: 10px solid #46a358;
}

.modal .title {
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.modal .title a:last-of-type {
    color: #46a358;
}

.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

.modal p {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}

.modal p:first-of-type {
    margin-bottom: 16px;
}

.modal p:last-of-type {
    text-align: center;
    margin-bottom: 27px;
}

.modal form div {
    margin-bottom: 16px;
}

.modal form div:last-of-type {
    margin-bottom: 40px;
}

.modal form input {
    padding: 12px 14px;
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
}

.modal form input::placeholder {
    color: #a5a5a5;
}

.modal button {
    margin-bottom: 36px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 45px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}


.link_social {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    text-decoration: none;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.link_social img {
    margin-right: 8px;
}